<section class="empleados">
    <html>  
     <div  class = "origen">
       <label class="ciudadO">Ciudad Origen</label>
        <select class="form-select" [(ngModel)]="selected"  (change)="listarIda()">
            <option *ngFor = "let o of origenes">{{o}} </option>
        </select>
     </div>
     <div  class = "destino">
        <label class="ciudadD">Ciudad destino</label>
         <select class="form" [(ngModel)]="selecte" >
             <option *ngFor = "let d of destinos">{{d}} </option>
         </select>

      </div>      
      <div class="personas">
        <label class="idvuelo"> Numero personas </label>
        <input type="text" class="lidvuelo" id="vuelo" [(ngModel)]="cantidad">
      </div>
      <div class="fechas">
        <label class="fechaO"> Fecha  </label>
        <input type="date" [(ngModel)]="fecha">
      </div>
      <div class="vuelos">
        <button class="cVuelo" (click)="listarVuelos()" > Buscar vuelos </button>
      </div>

      <div class="tabla">
        <h1> Datos vuelo Ida</h1>
        <table width="100%" id="miTabla">
         <tr>
           <th> Fecha </th>
           <th> Duracion </th>
           <th> Escala </th>
           <th> Precio Persona </th>
           <th> Id Vuelo </th>
         </tr>
         <ng-container *ngFor="let vuelo of lVuelos">
         <tr>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <th>   
           </th> 
           <th>
               <!-- <a  class="eliminar">
                   <svg (click)="buscarVuelo(vuelo)" class="logoEliminar" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" /></svg>
               </a> -->
           </th>
          </tr>
         </ng-container>
        </table>
       </div>
       <div class="precio">
        <label class="precioTotal"> Precio total Vuelo  </label>
        <input type="text" [(ngModel)]="totalViajeI">
       </div>


       <div class="fecha">
        <h1> </h1>
        <label class="fechaO"> Fecha Regreso  </label>
        <input type="date" [(ngModel)]="fechaR">
      </div>
      <div class="vuelos">
        <button class="cVuelos" (click)=" listarVuelosVuelta()" > Buscar vuelos </button>
      </div>
      <div class="tabla">
        <h1> Datos vuelo Vuelta</h1>
        <table width="100%" id="miTabla">
         <tr>
           <th> Fecha </th>
           <th> Duracion </th>
           <th> Escala </th>
           <th> Precio Persona </th>
           <th> Id Vuelo </th>
         </tr>
         <ng-container *ngFor="let vuelo of lVuelosV">
         <tr>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <td>{{vuelo}}</td>
           <th> 
           </th>
           <!-- <th>
               <a  class="eliminar">
                   <svg (click)="eliminarVuelo(vuelo.idvuelo)" class="logoEliminar" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" /></svg>
               </a>
           </th> -->
          </tr>
         </ng-container>
        </table>
       </div>
       <div class="precio">
        <label class="precioTotal"> Precio total Vuelo Regreso </label>
        <input type="text" [(ngModel)]="totalViajeR">
       </div>
       <div  class="precio">
        <label class="precioTotal"> Precio total Vuelos </label>
        <input type="text" [(ngModel)]="totalViajes">
       </div>

      <div class="formurario">
        <h1> Datos Pasajero</h1>
         <p  [(ngModel)]="numeroP"> pasajero numero {{numeroP}} </p> 
        <div class="dato1"> 
          <label class="nPasaporte"> Id pasaporte </label>
          <input type="text" class="lnPasaporte"  [(ngModel)]="pasaporte">
        </div>
        <div class="dato1">
          <label class="nombre"> Nombre </label>
          <input type="text" class="lnombre"  [(ngModel)]="nombre">
        </div>
        <div class="dato1">
          <label class="apellido"> Apellido </label>
          <input type="text" class="lapellido"  [(ngModel)]="apellido">
        </div>
        <div class="dato1">
          <label class="telefono"> Telefono </label>
          <input type="text" class="ltelefono"  [(ngModel)]="telefono">
        </div>
        <div class="dato1">
          <label class="correo"> Correo </label>
          <input type="text" class="lcorreo"  [(ngModel)]="correo">
        </div>
        <div class="dato1">
          <label class="edad"> Edad </label>
          <input type="text" class="ledad"  [(ngModel)]="edad">
        </div>
        <div class="dato1">
          <label class="visa"> Visa </label>
          <input type="date" [(ngModel)]="visa">
        </div>
        <div class="dato1">
          <button class="cpasajero" (click)="crearPasajero()" > Crear Pasajero </button>
        </div>
      </div>
    </html>
</section>